@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-orange-50: #FFF9F5;
  --color-orange-100: #FFEBDC;
  --color-orange-200: #FFD4B5;
  --color-orange-600: #F4511E;
  --color-orange-950: #2D0F06;
}

@layer base {
  body {
    @apply bg-[#FDFCFB];
    -webkit-tap-highlight-color: transparent;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
